<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <p><a href="/">Home</a></p>
            </ul>
        </nav>
        <h1 id="title"> Footprint Focus</h1>
        <p id="tagline">Help save the environment.</p>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer id="thanks">Thanks for using our site!</footer>


</body>

</html>
