<!DOCTYPE html>
<html>
<head>
    <title>Footprint Focus</title>
    <link rel="stylesheet" type="text/css" href="/public/site.css">
    <style>
        .input-container {
            display: flex;
            align-items: center;
        }

        .input-container button {
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1 id="title">Footprint Focus</h1>
        <p id="tagline">Help save the environment.</p>
    </header>
    <header>
        
    </header>
    <main id="input-form">
        <h2 id="fcalc">Footprint Calculator</h2>
        <form action="/calculate" method="POST" class="calculator-form">
        <form id="calculator-form">
            <p>Calculate your carbon footprint today and compare it against others in the world.</p>
            <div class="input-container">
                <label for="electric-bill">Monthly Electric Bill ($):</label>
                <input type="number" id="electric_bill" name="electric_bill" step="0.01" required><br>
            </div><br>

            <div class="input-container">
                <label for="gas-bill">Monthly Gas Bill ($):</label>
                <input type="number" id="gas_bill" name="gas_bill" step="0.01" required><br>
            </div><br>

            <div class="input-container">
                <label for="car-mileage">Miles Driven in the Past 24 Hours:</label>
                <input type="number" id="car_mileage" name="car_mileage" required><br>
            </div><br>

            <div class="input-container">
                <label for="short-flights">Did you take a short flight today? (4 hours or less):</label>
                <input type="checkbox" id="short_flight" name="short_flight" ><br>
            </div><br>

            <div class="input-container">
                <label for="long-flights">Did you take a long flight today? (4 hours or more):</label>
                <input type="checkbox" id="long_flight" name="long_flight" ><br>
            </div><br>

            <div class="input-container">
                <label for="recycle-newspaper">Do you recycle newspaper?</label>
                <input type="checkbox" id="recycle_newspaper" name="recycle_newspaper"><br>
            </div><br>

            <div class="input-container">
                <label for="recycle-aluminum-tin">Do you recycle aluminum and tin?</label>
                <input type="checkbox" id="recycle_aluminum" name="recycle_aluminum"><br>
            </div><br>
            <button type="submit" class="calculate-button">Calculate</button>
        </form>
        {{#if error}}
            <p id="error" class="error">ERROR: {{error}}</p>
        {{/if}}
    </main>
</body>
</html>